body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgb(17, 121, 182, 0.7);
  font-family: "Roboto", sans-serif;
  color: white;
}

.verde{
    background: green;
    color: white;
    padding: 5px;
    margin-bottom: 7px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.amarelo{
    background: #D4AF1A;
    padding: 5px;
    margin-bottom: 7px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.preto{
    background: black;
    color: white;
    padding: 5px;
    margin-bottom: 7px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.vermelho{
    background: red;
    color: white;
    padding: 5px;
    margin-bottom: 7px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}