body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(17, 121, 182, 0.7);
  font-family: "Roboto", sans-serif;
  color: white;
}

.SepararRelatorios {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 70%;
  margin-top: 50px;
}

.avatar {
  width: 20%;
  height: 25%;
  border-radius: 50%;
  margin-left: 5%;
}

.container-avatar {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}

.user-details {
  line-height: 0.3;
  margin-left: 10px;
  text-align: left;
}

.container-relatorios {
  line-height: 0;
}

.container-relatorio1 {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.container-relatorio2 {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
}

.paragrafo-relatorio {
  margin: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

button {
  background: #116591;
  border: #116591;
  height: 4vh;
  color: white;
}

button:focus {
  outline: none;
}

.sair {
  background: #b38403;
}

.branco {
  background: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.vermelho {
  background: red;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.verde {
  background: green;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.amarelo {
  background: yellow;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
